/* # =============================================================================== # */
/* # Vimium:                                                                         # */
/* # =============================================================================== # */
:root {
  --font-family: "JetBrainsMono Nerd Font";
  --vimium-foreground: #dbd2c7;
  --vimium-background: #172526;
  --vimium-border: #233935;
  --vimium-bright: #568270;
  --vimium-green: #88b497;
  --vimium-blue: #91c4c0;
  --vimium-magneta: #f9ada0;
  --vimium-red: #d2696c;
  --vimium-yellow: #ffd7aa;
  --vimium-gray: #a1a790;
}

/* # =============================================================================== # */
/* # Hints:                                                                          # */
/* # =============================================================================== # */
#vimium-hint-marker-container div.vimiumHintMarker {
  font-family: var(--font-family);
  background: var(--vimium-yellow);
  border: 1px solid var(--vimium-border);
}
#vimium-hint-marker-container div.vimiumHintMarker span {
  color: var(--vimium-background);
  font-weight: bold;
}
#vimium-hint-marker-container div.internal-vimium-hint-marker,
#vimium-hint-marker-container div.vimiumHintMarker {
  padding: 3px 4px;
  background: var(--vimium-gray);
  border: 1;
  border-color: var(vimium-border);
  box-shadow: none;
}
#vimium-hint-marker-container div span {
  font-family: var(--font-family);
  font-size: 14px;
  color: var(vimium-border);
  text-shadow: none;
}
#vimium-hint-marker-container div.vimiumHintMarker span.matchingCharacter {
  color: var(--vimium-green);
}

/* # =============================================================================== # */
/* # Vomnibar:                                                                       # */
/* # =============================================================================== # */
#vomnibar {
  font-family: var(--font-family);
  background: var(--vimium-background);
  border: 1px solid var(--vimium-border);
  animation: show 200ms ease-out forwards;
}

@keyframes show {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

#vomnibar input,
#vomnibar #vomnibar-search-area {
  font-family: var(--font-family);
  background: var(--vimium-background);
  color: var(--vimium-gray);
  border: none;
  box-shadow: none;
}

#vomnibar ul {
  background: var(--vimium-background);
  border-top: 1px solid var(vimium-foreground);
}

#vomnibar li {
  background: var(--vimium-background);
  color: var(--vimium-text);
  border-bottom: 1px solid var(vimium-foreground);
}
#vomnibar li.selected {
  background: var(--vimium-border);
}

/* Item text styles */
#vomnibar li .source {
  color: var(--vimium-peach);
}
#vomnibar li .title {
  color: var(--vimium-blue);
  font-weight: bold;
}
#vomnibar li .url {
  color: var(--vimium-gray);
}
#vomnibar li .match {
  color: var(--vimium-green);
  font-weight: bold;
}
#vomnibar li .title .match {
  color: var(--vimium-blue);
}

/* History entries override */
#vomnibar li.omnibar-history-item {
  background: var(--vimium-surface1) !important;
}
#vomnibar li.omnibar-history-item.selected {
  background: var(--viumium-gray) !important;
}

/* # =============================================================================== # */
/* # Search:                                                                         # */
/* # =============================================================================== # */
div#hud-container {
  background: var(--vimium-background);
  border: 1px solid var(--vimium-border);
  box-shadow: none;
}
div#hud-container span#hud-find-input,
div#hud-container div#hud {
  color: var(--vimium-text);
  background: var(--vimium-bright);
}

/* # =============================================================================== # */
/* # Options:                                                                        # */
/* # =============================================================================== # */
body.vimium-body,
body.vimium-body header,
body.vimium-body label {
  background: var(--vimium-background);
  color: var(--vimium-text);
}

body.vimium-body button,
body.vimium-body input,
body.vimium-body textarea,
body.vimium-body footer {
  background: var(--vimium-bright);
  color: var(--vimium-text);
  border-color: var(--vimium-bright);
  scrollbar-color: var(--viumium-gray) var(vimium-foreground);
}

body.vimium-body button:focus,
body.vimium-body input:focus,
body.vimium-body textarea:focus {
  border-color: var(--vimium-blue);
}
body.vimium-body a {
  color: var(--vimium-blue);
}
body.vimium-body #wrapper .example {
  color: var(--vimium-foreground);
}

/* # =============================================================================== # */
/* # Dialog:                                                                         # */
/* # =============================================================================== # */
#dialog {
  background: var(--vimium-bright);
  color: var(--vimium-text);
  border: 1px solid var(--vimium-border);
}
#dialog .divider {
  background: var(--vimium-bright);
}
#dialog a,
#dialog span.vim {
  color: var(--vimium-blue);
}
#dialog a#close:hover {
  color: var(--vimium-magneta);
}
#dialog .key,
body.vimium-body .key {
  background: var(--vimium-bright);
  color: var(--vimium-text);
  border: 1px solid var(--vimium-border);
  box-shadow: 0 2px 0 var(vimium-foreground);
}
