/* ============================================================================= */
/* Variables:                                                                    */
/* ============================================================================= */
@define-color fg     #88B497;
@define-color bg     #172526;
@define-color bright #568270;
@define-color base   #233935;
@define-color white  #A1A790;
@define-color green  #88B497;
@define-color red    #D2696C;
@define-color blue   #91C4C0;

/* ============================================================================= */
/* General:                                                                      */
/* ============================================================================= */
* {
  all: unset;
}
window {
  background-image:
    linear-gradient(rgba(23, 37, 38, 0.9), rgba(23, 37, 38, 0.9)),
    url("/home/lli/.local/share/wall.dots/wallpapers/GREEN.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* ============================================================================= */
/* Clock:                                                                        */
/* ============================================================================= */
#clock-label {
  min-width: 320px;
  background-color: alpha(@base, 0.3);
  color: @green;
  font-weight: 900;
  font-size: 14px;
  padding: 10px 30px;
  border: 1px solid @base;
}

/* ============================================================================= */
/* Input:                                                                        */
/* ============================================================================= */
#input-field {
  padding: 10px 15px;
  border: 1px solid @base;
  caret-color: @base;
  color: @green;
}

/* ============================================================================= */
/* Others:                                                                       */
/* ============================================================================= */
#warning-label,
#error-label,
#unlock-button {
  margin-top: 12px;
  padding: 10px 2rem;
  margin-bottom: 20px;
}
#unlock-button {
  background-color: alpha(@base, 0.3);
  color: @green;
  border: 1px solid @base;
}
#date-label {
  font-size: 0;
}
#input-label {
  font-size: 0;
}
#user-name {
  font-size: 16pt;
}
#error-label {
  color: @red;
}
