/* ============================================================================== # */
/* LockCss:                                                                       # */
/* ============================================================================== # */
@define-color black #172526;
@define-color gray  #233935;
@define-color white #DBD2C7;
@define-color red   #D2696C;
@define-color green #88B497;

/* # ============================================================================= # */
/* # General:                                                                      # */
/* # ============================================================================= # */
* {
  all: unset;
}
window {
  background-image:
    linear-gradient(rgba(35, 57, 53, 0.8), rgba(35, 57, 53, 0.8)),
    url("/home/lli/.local/share/wall.dots/wallpapers/GREEN.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* # ============================================================================= # */
/* # Clock:                                                                        # */
/* # ============================================================================= # */
#clock-label {
  min-width: 320px;
  background-color: alpha(@gray, 0.3);
  color: @green;
  font-weight: 900;
  font-size: 14px;
  padding: 10px 30px;
  border: 1px solid @gray;
}

/* # ============================================================================= # */
/* # Input:                                                                        # */
/* # ============================================================================= # */
#input-field {
  padding: 10px 15px;
  border: 1px solid @gray;
  caret-color: @gray;
  color: @green;
}

/* # ============================================================================= # */
/* # Others:                                                                       # */
/* # ============================================================================= # */
#warning-label,
#error-label,
#unlock-button {
  margin-top: 12px;
  padding: 10px 2rem;
  margin-bottom: 20px;
}
#unlock-button {
  background-color: alpha(@gray, 0.3);
  color: @green;
  border: 1px solid @gray;
}
#date-label {
  font-size: 0;
}
#input-label {
  font-size: 0;
}
#user-name {
  font-size: 16pt;
}
#error-label {
  color: @red;
}
