/* # ============================================================================ # */
/* # Variables:                                                                   # */
/* # ============================================================================ # */
@define-color background #172526;
@define-color foreground #88B497;
@define-color bright     #568270;
@define-color selection  #233935;
@define-color white      #A1A790;
@define-color green      #88B497;
@define-color red        #D2696C;
@define-color blue       #91C4C0;

/* # ============================================================================= # */
/* # General:                                                                      # */
/* # ============================================================================= # */
* {
  font-family: "JetBrainsMono Nerd Font";
  font-weight: 700;
  font-size: 12px;
  border-radius: 0;
  box-shadow: none;
}
window#waybar {
  background: @background;
  border-right: 1px solid @selection;
}

/* # ============================================================================= # */
/* # Groups:                                                                       # */
/* # ============================================================================= # */
#custom-void:hover,
#network:hover,
#bluetooth:hover,
#pulseaudio:hover,
#backlight:hover,
#battery:hover,
#pulseaudio.microphone:hover,
#pulseaudio.sink-muted:hover,
#custom-launcher:hover {
  opacity: 0.5;
}
#custom-void,
#clock,
#mpris,
#custom-menu,
#tray,
#network,
#bluetooth,
#pulseaudio,
#pulseaudio.microphone,
#backlight,
#battery,
#custom-launcher {
  color: @foreground;
  padding: 6px 10px;
}

/* # ============================================================================= # */
/* # Workspaces:                                                                   # */
/* # ============================================================================= # */
#workspaces button {
  color: @foreground;
  padding: 0;
}
#workspaces button.active {
  color: @green;
}

/* # ============================================================================= # */
/* # Tray:                                                                         # */
/* # ============================================================================= # */
#tray {
  margin-left: 5px;
}

/* # ============================================================================= # */
/* # Clock:                                                                        # */
/* # ============================================================================= # */
#clock {
  color: @green;
  font-weight: 900;
  font-size: 14px;
}

/* # ============================================================================= # */
/* # Mpris:                                                                        # */
/* # ============================================================================= # */
#mpris {
  color: @white;
}
#mpris.playing {
  color: @green;
}
#mpris.paused {
  color: @bright;
}

/* # ============================================================================= # */
/* # Networks:                                                                     # */
/* # ============================================================================= # */
#network.disabled {
  color: @bright;
}
#network.wifi {
  color: @foreground;
}
#network.ethernet {
  color: @white;
}

/* # ============================================================================= # */
/* # Bluetooth:                                                                    # */
/* # ============================================================================= # */
#bluetooth.disabled {
  color: @bright;
}
#bluetooth.connected {
  color: @blue;
}
#backlight {
  margin-left: -5px;
}

/* # ============================================================================= # */
/* # Pulseaudio:                                                                   # */
/* # ============================================================================= # */
#pulseaudio.sink-muted:not(.microphone) {
  color: @bright;
}
#pulseaudio.microphone.source-muted {
  color: @bright;
}

/* # ============================================================================= # */
/* # Battery:                                                                      # */
/* # ============================================================================= # */
#battery.critical {
  color: @red;
}

/* # ============================================================================= # */
/* # Tooltip:                                                                      # */
/* # ============================================================================= # */
tooltip {
  background: @background;
  border: 1px solid @foreground;
}
tooltip * {
  color: @foreground;
  margin: 2px;
  background: @background;
}

/* # ============================================================================= # */
/* # Slider:                                                                       # */
/* # ============================================================================= # */
#pulseaudio-slider,
#backlight-slider {
  min-height: 70px;
}
#pulseaudio-slider slider,
#backlight-slider slider {
  background: transparent;
}
#pulseaudio-slider trough,
#backlight-slider trough {
  min-width: 8px;
}
#pulseaudio-slider highlight {
  background: @blue;
}
#backlight-slider highlight {
  background: @white;
}

/* # ============================================================================= # */
/* # Custom:                                                                       # */
/* # ============================================================================= # */
#custom-void,
#custom-launcher {
  font-size: 16px;
  margin-left: -5px;
}
#custom-menu {
  margin-left: 4px;
  margin-bottom: -5px;
}
#custom-void {
  color: @green;
}
#custom-launcher {
  color: @blue;
}
