/* ============================================================================= */
/* Variables:                                                                    */
/* ============================================================================= */
@define-color fg     #88B497;
@define-color bg     #172526;
@define-color bright #568270;
@define-color base   #233935;
@define-color white  #A1A790;
@define-color green  #88B497;
@define-color red    #D2696C;
@define-color blue   #91C4C0;

/* ============================================================================= */
/* General:                                                                      */
/* ============================================================================= */
window#waybar {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 11px;
  background-color: @bg;
  border-right: 2px solid @base;
}

/* ============================================================================= */
/* Groups:                                                                       */
/* ============================================================================= */
#custom-void:hover,
#network:hover,
#bluetooth:hover,
#pulseaudio:hover,
#backlight:hover,
#battery:hover,
#pulseaudio.microphone:hover,
#pulseaudio.sink-muted:hover,
#custom-launcher:hover {
  opacity: 0.5;
}
#workspaces,
#custom-void,
#custom-menu,
#clock,
#mpris,
#network,
#bluetooth,
#pulseaudio,
#pulseaudio.microphone,
#backlight,
#battery,
#custom-launcher {
  color: @fg;
  padding: 12px 0;
  font-size: 14px;
}

/* ============================================================================= */
/* Workspaces:                                                                   */
/* ============================================================================= */
#workspaces {
  padding: 0;
}
#workspaces button {
  color: @fg;
}
#workspaces button.active {
  color: @green;
}

/* ============================================================================= */
/* Clock:                                                                        */
/* ============================================================================= */
#clock {
  color: @green;
  font-weight: 900;
}

/* ============================================================================= */
/* Mpris:                                                                        */
/* ============================================================================= */
#mpris {
  color: @white;
}
#mpris.playing {
  color: @green;
}
#mpris.paused {
  color: @bright;
}

/* ============================================================================= */
/* Networks:                                                                     */
/* ============================================================================= */
#network.disabled {
  color: @bright;
}
#network.wifi {
  color: @fg;
}
#network.ethernet {
  color: @white;
}

/* ============================================================================= */
/* Pulseaudio:                                                                   */
/* ============================================================================= */
#bluetooth.disabled {
  color: @bright;
}
#bluetooth.connected {
  color: @blue;
}

/* ============================================================================= */
/* Pulseaudio:                                                                   */
/* ============================================================================= */
#pulseaudio.sink-muted:not(.microphone) {
  color: @bright;
}
#pulseaudio.microphone.source-muted {
  color: @bright;
}

/* ============================================================================= */
/* Battery:                                                                      */
/* ============================================================================= */
#battery.critical {
  color: @red;
}

/* ============================================================================= */
/* Tooltip:                                                                      */
/* ============================================================================= */
tooltip {
  background-color: @bg;
  border: 1px solid @fg;
}
tooltip * {
  color: @fg;
  background-color: @bg;
}

/* ============================================================================= */
/* slider:                                                                       */
/* ============================================================================= */
#pulseaudio-slider,
#backlight-slider {
  min-height: 70px;
}
#pulseaudio-slider slider,
#backlight-slider slider {
  background-color: transparent;
}
#pulseaudio-slider trough,
#backlight-slider trough {
  min-width: 8px;
}
#pulseaudio-slider highlight {
  background-color: @blue;
}
#backlight-slider highlight {
  background-color: @white;
}

/* ============================================================================= */
/* Custom:                                                                       */
/* ============================================================================= */
#custom-void,
#custom-launcher {
  margin-right: 4px;
}
#custom-void {
  color: @green;
}
#custom-launcher {
  color: @blue;
}
